
body {
    --text-color: color(srgb 1 0.89 0.77);
    --top-bar-background-color: color-mix(in srgb, black 80%, #F0F);
    background-color: #505;
    color:var(--text-color, white); /*Text*/
}
hr {
    border-color:bisque;
}

/* <weight>: Use a value from 300 to 900
 */

* {
  font-family: "Merriweather", Times ,serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#survey-grid {
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    display: grid;
    width: fit-content;
    grid-template-columns: 50% 50% ;
}

#survey-grid p {
    width:fit-content;
}

#top_bar:has(h1) {
    margin-top: -0.5rem;
    left: -3px;
    display:block;
    position:fixed;
    background-color:var(--top-bar-background-color,#343);
    width: 100%;
    max-width: 100%;
    border-color: bisque;
    border-style: solid;
    z-index: 1000;
}

#top_bar > h1 {

    text-align: center;
    padding: 3px 3px 3px 3px;
    margin: 3px 3px 3px 3px;
}

h3 + form {
    display: flex;
    justify-content: center;
}

img {
  transition: transform 0.3s ease;
}

@media (min-width: 1700px) {
  img {
    &:hover {
      position: static;
      transform: scaleX(700%);
      justify-self: center;
    }
  }
}


div > textarea{
    width:75%;
    background-color: #606;
    color: bisque;
    border-color: bisque;
    border-style:hidden;
    border-radius: 5px;
}

fieldset input{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #606;
    border-color: rgb(255,228,196);
    color: bisque;
    border-style: solid;
}

input[type="button"]:hover,input[type="submit"]:hover,button:hover {
    background-color: hsl(300,100%,10%);
}

p.prank {
    display:none;
    justify-self: center;
    margin-top: -2.5em;
}

input[type="submit"]:active {
    visibility: hidden;

}
input[type="submit"]:active ~ p.prank {
    display: block;
}

input[type="radio"]{
    accent-color: #303;
    background-color: #303;
    border-color: bisque;
}

input ~ button {
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: bisque;
    background-color: #606;
    border-color: bisque;
    border-style: solid;
}

#media {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
}

.fancy-box {
  display:block;
  border-width: 2px;
  border-style: solid;
  border-color:bisque;
  border-radius: 1px;


  padding: 1mm 1mm 1mm 1mm;
  max-width: 100%;
  height: fit-content;
  max-height: fit-content;
  background-color: #404;
}


