
body {
    background-color: #505;
    color:bisque; /*Text*/
}
hr {
    border-color:bisque;
}

/* <weight>: Use a value from 300 to 900
 */

* {
  font-family: "Merriweather", Times ,serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#survey-grid {
    padding: 10px 10px 10px 10px;
    display: grid;
    width: fit-content;
    grid-template-columns: 50% 50% ;
}

h3 + form {
    display: flex;
    justify-content: center;
}

div > textarea{
    background-color: #606;
    color: bisque;
    border-color: bisque;
    border-style:hidden;
    border-radius: 5px;
}

fieldset input{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #606;
    border-color: bisque;
    color: bisque;
    border-style: solid;
}

input[type="button"]:hover,input[type="submit"]:hover,button:hover {
    background-color: #303;
}

input ~ button {
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: bisque;
    background-color: #606;
    border-color: bisque;
    border-style: solid;
}

#media {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
}

.fancy-box {
  display:block;
  border-width: 2px;
  border-style: solid;
  border-color:bisque;
  border-radius: 1px;

  padding: 5px;

  max-width: 100%;
  height: fit-content;
  max-height: fit-content;
  background-color: #404;
}
